* {
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: #ff9999;
}

p, img {
    max-width: 500px;
}

